@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;1,700&family=Inter&family=Poppins:wght@400;500;600&display=swap');

:root{
    --title-bg-color: #D8F3DC;
    --background-color: #52B788;
    --title-font: 'Arimo', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: var(--title-bg-color);
    transition: 0.3s;
}

a:hover{
    color: var(#D8F3DC);
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
    height: 8vh;
    font-family: var(--title-font);
}   