@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;1,700&family=Inter&family=Poppins:wght@400;500;600&display=swap');

:root{
    --title-bg-color: #D8F3DC;
    --title-font: 'Arimo', sans-serif;
    --title-font-size: 4rem;
    --img-bg-left:#35008b63;
    --img-bg-right: #ff00aa50;
    --button-left-color: #212529;
    --button-right-color: #212529;
    --hover-width: 75%;
    --other-width: 25%;
    --transition-animation: 1000ms;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: var(--title-font);
}

body{
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.img_left{
    width: 2000px;
    height: 1000px;
}

.img_right{
    width: 2000px;
    height: 1000px;
}

a{
    color: var(--title-bg-color);
    transition: 0.3s;
}

a:hover{
    color: var(#D8F3DC);
    opacity: 0.7;
}

.button_left:hover{
    transition: 0.5s;
    background-color: var(--button-left-color);
    border-color: var(--title-bg-color);
}

.button_right:hover{
    transition: 0.5s;
    background-color: var(--button-right-color);
    border-color: var(--title-bg-color);
}

.title_left,
.title_right{
    font-size: var(--title-font-size);
    position: absolute;
    left: 50%;
    top:20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.title_left{
    color: var(--title-bg-color);
}

.title_right{
    color: black;
}

.button_left,
.button_right{
    position: absolute;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 60%;
    transform: transletex(-50%);
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.button_right,
.button_left{
    border: black solid 0.2rem;
    color: black;
    transform: translateX(-50%);
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.left_container{
    display: flexbox;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.right_container{
    display: flexbox;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.right_container,
.left_container{
    position: absolute;
    border-radius: none;
    display: flex;
    overflow: hidden;
}

.left_container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--img-bg-left);
}

.right_container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--img-bg-right);
}

.left_container,
.right_container,
.right_container::before,
.left_container::before{
    transition:var(--transition-animation);
}

.hover-left .left_container{
    width: var(--hover-width);
}

.hover-left .right_container{
    width: var(--other-width);
}

.hover-right .right_container{
    width: var(--hover-width);
}

.hover-right .left_container{
    width: var(--other-width);
}

@media (max-width: 800px){
    h1{
        font-size: 2rem;
        top: 30%;
    }

    .button_left,
    .button_right{
        padding: 1.2rem;
        width: 12rem;
    }
}

footer{
    position: absolute;
    font-family: var(--title-font);
    font-size: 10px;
    bottom: 8px;
    width: 100%;
    height: 15px;
}

.footer_description{
    color: var(--title-bg-color);
}